<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">
<test name="Test">
<classes>
<class name="yourlogo.Header"/>
<class name="yourlogo.Footer"/>
<class name="yourlogo.DetailPage"/>
<class name="yourlogo.ListingPage"/>
<class name="yourlogo.OrderProcess"/>

</classes>
</test> <!-- Test -->
</suite> <!-- Suite -->